<div class="signup-page" >
<h2 class="explanation-text">プロフィール編集画面　<%= resource_name.to_s.humanize %></h2>
<div class="formContainer">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "hoge@example.com"%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <% if current_user.photographer? %>
  <div class="field form-group">
    <%= f.label :area_id %>
    <%= f.collection_select  :area_id, Area.all, :id, :prefecture, {prompt: "選択してください"}, class: 'form-control' %>
  </div>
  <% end %>

  <div class="actions">
    <%= f.submit "更新" , :class => "btn btn-primary" %>
  </div>
<% end %>

<h2 class="explanation-text">アカウントの削除</h2>

<p><%= button_to "このアカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "戻る", :back , :class => "btn btn-primary"%>
</div>
</div>
