<%= render 'layouts/header' %>
<div class="signup-page" >
<h2 class="explanation-text">新規登録画面</h2>

<!-- autocomplete
    この属性は、コントロールの値をブラウザーが自動的に保管して良いかを示します。
    以下の値が指定可能です。：
     ・ off：ユーザはフォームを使用するたびにフィールドへ値を明示的に入力しなければならないか、ドキュメントが独自の自動保管を提供する。
       ブラウザーは入力内容の自動補完を行いません
     ・ on：ブラウザーはユーザーが以前に入力した値に基づき、これを自動補完のための候補として使用することができます。
       ただし、onはユーザーに入力してほしいデータの種類に関する追加情報を与えません。
       input 要素で autocomplete 属性を指定していない場合は、ブラウザーは <input> 要素のフォームオーナーの autocomplete 属性の値を使用します。フォームオーナーは当該 <input> 要素が子孫になっている form 要素か、input 要素の form 属性で id を指定されている form 要素です。詳しくは、<form> 要素の autocomplete 属性をご覧ください。

  Firefox は他のブラウザーと異なり autocomplete 属性で、ページを再読み込みしても <input> を 動的に無効化した状態や (該当する場合は) 動的に変更したチェック状態を維持するか を制御します。この維持機能は、デフォルトで有効です。autocomplete 属性の値に off を設定すると、この機能を無効化できます。またこの設定は、type 属性が通常 autocomplete を適用しない値である <input> 要素でも有効です。バグ 654072 をご覧ください。

  ほとんどの現行ブラウザー (Firefox 38+、Google Chrome 34+、IE 11+) では autocomplete 属性を設定しても、ブラウザーのパスワードマネージャーがユーザーにログイン情報 (ユーザー名やパスワード) を保存したいかを問い合わせる、またユーザーが同意した場合に次回以降ページを訪れた際にログイン情報を自動入力することは抑制できません。autocomplete 属性とログインフィールド をご覧ください。-->
<div class="formContainer">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "hoge@example.com"%>
  </div>

  <div class="field form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: "hogehoge7"%>
  </div>

  <div class="field form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "hogehoge7" %>
  </div>

  <div class="action">
    <%= f.submit "新規登録" %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
</div>
</div>

<!-- autofocus
      この論理属性で、(別のコントロールに入力するなどして)ユーザーが変更しない限り、ページ読み込み時に
      フォームコントロールがフォーカスして持つべきであることを指定できます。
      ドキュメント内のフォーム要素で一つだけがautofocus属性をもつことができ、これは真偽値です。
      この属性は、type属性がhiddenである場合は適用できません(つまり、hiddenコントロールへ自動的にフォーカスを設定することができません) -->
