<%= form_for @order,  :url => {:controller => :orders, :action =>:update} do |f| %>
<div class="container">
  <div class="form-group">
    <%= f.label :first_name%>
    <%= f.text_field :first_name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name , :class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :day %>
    <%= f.text_field :day , :class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :location %>
    <%= f.text_field :location, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_field :comment, :class => "form-control" %>
  </div>
  <%= f.submit :class => "btn btn-primary"%>
</div>
<% end  %>
