<div class="page-header">
  <h1>依頼詳細</h1>
</div>
<div class="container">
<table>
  <tr>
    <th>id</th>
    <td><%= @order.id %></td>
  </tr>
  <tr>
    <th>first_name</th>
    <td><%= @order.first_name %></td>
  </tr>
  <tr>
    <th>last_name</th>
    <td><%= @order.last_name %></td>
  </tr>
  <tr>
    <th>day</th>
    <td><%= @order.day %></td>
  </tr>
  <tr>
    <th>location</th>
    <td><%= @order.location %></td>
  </tr>
  <tr>
    <th>phone_number</th>
    <td><%= @order.phone_number %></td>
  </tr>
  <tr>
    <th>comment</th>
    <td><%= @order.comment %></td>
  </tr>
  <tr>
    <th>created_at</th>
    <td><%= @order.created_at%></td>
  </tr>
</table>
<%= link_to 'back', admin_orders_path,  class: 'btn btn-default' %>
<%= link_to 'edit', edit_admin_order_path(@order), class: 'btn btn-default' %>
<%= link_to 'destroy', admin_order_path(@order), :method => :delete, :confirm => "本当に削除していいですか", class: 'btn btn-default'%> 
</div>
