.signup-page
  %h2.explanation-text 依頼詳細
  .formContainer
    %table.table-order{:border => "1"}
      %tr
        %th id
        %td= @order.id
      %tr
        %th first_name
        %td= @order.first_name
      %tr
        %th last_name
        %td= @order.last_name
      %tr
        %th day
        %td= @order.day
      %tr
        %th location
        %td= @order.location
      %tr
        %th phone_number
        %td= @order.phone_number
      %tr
        %th photographer_id
        %td= @order.photographer_id
      %tr
        %th comment
        %td= @order.comment
      %tr
        %th created_at
        %td= @order.created_at
      %tr
        %th user_id
        - unless @order.user_id.nil?
          %td= @order.user_id
        - else
          %td
    = link_to '戻る', admin_orders_path,  class: 'btn btn-primary admin-botton'
    = link_to '編集', edit_admin_order_path(@order), class: 'btn btn-primary admin-botton'
    = link_to '削除', admin_order_path(@order), :method => :delete, :confirm => "本当に削除していいですか", class: 'btn btn-primary admin-botton'
