<!-- value：コントロールの初期値です。この属性はtype属性の値がradioまたはcheckboxである場合を除き、省略可能です。
    ページを再読み込みするとき、GeckkoおよびIEは再読み込み前に値が変更された場合にHTMLソースで指定された値を無視する点には注意 -->
<div class="container">
<div class="row">
<h2>予定入力</h2>
<%= form_for @user, url: {action: :update} do |f| %>
  <% day = Date.today %>
  <% i = 0 %>

  <%= f.hidden_field :email %>
  <%= f.hidden_field :encrypted_password %>
  <%= f.hidden_field :role %>

  <%= f.fields_for :schedules  do |schedule_form| %>
  <% if day < ( Date.today >> 1 ) %>
    <div class="field">
      <%= schedule_form.label day %>
      <%= schedule_form.hidden_field :target_day, :value => day %>
    </div>
    <div class="field">
      <%= schedule_form.label '行ける・行けないを選択' %>
      <% if current_user.schedules.where(target_day: Date.today + i).present? %>
        <label><%= schedule_form.radio_button :status,true,{checked: current_user.schedules.where(target_day: Date.today + i).last.status } %> 行ける </label>
      <% else %>
        <label><%= schedule_form.radio_button :status,true  %> 行ける </label>
      <% end %>
      <% if current_user.schedules.where(target_day: Date.today + i).present? %>
        <label><%= schedule_form.radio_button :status,false ,{checked: !current_user.schedules.where(target_day: Date.today + i).last.status }%> 行けない </label>
      <% else %>
        <label><%= schedule_form.radio_button :status,false %> 行けない </label>
      <% end %>
      <% i += 1 %>
      <% day += 1 %>
    </div>
  <% end %>
  <% end %>

  <%= f.submit 'Save' %>
<% end %>
</div>
</div>

<!-- radio_buttonのchecked,trueは、
　　　フォームを作成するケースで元からチェックを入れたい(チェック済み)場合、確認画面から戻ってきたときにチェックがあらかじめ入っている処理にしたい場合に利用する -->

<!-- [Ruby on Railsでform_forでラジオボタンを設置する方法](http://freesworder.net/rails-form_for-radio/) -->
<!-- @user.schedules[0].status -->
