<div class="signup-page" >
<h2 class="explanation-text">プロフィール編集画面</h2>
<%= render 'layouts/error' %>
<div class="formContainer">
<%= form_for @user,  url: {:controller => :users, :action => :update_user} do |f| %>
  <div class="field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "hoge@example.com"%>
  </div>

  <div class="field form-group">
    <%= f.label :role %><br />
    <%= f.select :role ,{'administer' => 'admin','photographer' => 'photographer', 'member' => 'member'}, :include_blank => false, autofocus: true, class: 'form-control'%>
  </div>

  <div class="actions">
    <%= f.submit "更新" , :class => "btn btn-primary" %>
  </div>
<% end %>

<h2 class="explanation-text">アカウントの削除</h2>

<p><%= link_to "このアカウントを削除する", users_destroy_path(@user), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-primary" %></p>

<%= link_to "戻る", users_path, :class => "btn btn-primary"%>
</div>
</div>
