.classcontainer-fluid
  .row
    %nav.col-md-2.d-none.d-md-block.bg-light.sidebar
      .sidebar-sticky
        %ul.nav.flex-column
          %li.nav-item
            = link_to 'プロフィール編集', edit_user_registration_path ,class: 'nav-link'
          %li.nav-item
            = link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'
          - if current_user.member?
            %li.nav-item
              = link_to '申し込み一覧', users_order_member_path , class: "nav-link"
          - unless current_user.member?
            %li.nav-item
              = link_to '依頼一覧', admin_orders_path , class: 'nav-link'
          - if current_user.photographer?
            %li.nav-item
              = link_to '予定入力', users_add_schedule_path(id: current_user.id), class: 'nav-link'
          - if current_user.admin?
            %li.nav-item
              = link_to 'ユーザー一覧', users_path ,class: 'nav-link'
.col-md-10.user_index
  .page-header
    %h2 ユーザー一覧
    <br/>
    %table{:border => "1"}
      %tr
        %th id
        %th email
        %th role
      - @users.each do |user|
        %tr
          %td= user.id
          %td= user.email
          %td= user.role
          %td= link_to 'roleの変更',edit_user_path(user) , :class => "btn btn-primary"
          %td= link_to '削除', users_destroy_path(user), :method => :delete, :confirm => "本当に削除していいですか?" , :class => "btn btn-primary"
