<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
          <%= link_to 'プロフィール編集', edit_user_registration_path ,class: 'nav-link' %>
          </li>
          <% unless current_user.member? %>
            <li class="nav-item">
              <%= link_to '依頼一覧', admin_orders_path , class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to '予定入力', users_add_schedule_path(id: @user.id), class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <div class="col-md-10">
      <% if current_user.member? %>
        <%= render 'userpage' %>
      <% else %>
        <%= render 'adminpage' %>
      <% end %>
    </div>
  </div>
</div>
