<%= form_for @album do |f| %>
  <% if @album.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% @album.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :photographs %>
    <%= f.file_field :photographs, multiple: true %>
  </div>
  <div class="action">
    <%= f.submit '納品', class: 'btn btn-default' %>
  </div>
<% end %>
