.signup-page
  %h2.explanation-text 注文番号: #{@album.order_id}
  .formContainer
    - @album.photographs.each do |photo|
      = link_to image_tag(photo.url) , photo.url
    %br
    - if current_user.nil?
      = link_to "戻る", albums_path,class: 'btn btn-primary'
    - elsif current_user.admin?
      = link_to "削除", @album ,method: :delete, confirm: 'Are you sure?',class: 'btn btn-primary'
      = link_to "戻る", root_path,class: 'btn btn-primary'
    - else
      = link_to "戻る", albums_path,class: 'btn btn-primary'
